@import 'src/variables.scss';

.layout-organizer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

section {
    margin-top: $navbarheight;
    height: 100%;
    width: 60%;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

mat-spinner {
    position: fixed;
    top: 50%;
    left: 46%;
}