<div class="layout-organizer">
    <app-navbar></app-navbar>
    <app-settings-navbar [verifier]="settingsSidebarVerfier"></app-settings-navbar>
    <section>
        <div class="main-container" >
            <h4>Change password</h4>
            <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="changePassword(form)">
                <mat-form-field>
                    <mat-label>Current password</mat-label>
                    <input matInput type="password" name="currentPassword" formControlName="currentPassword" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>New password</mat-label>
                    <input matInput type="password" name="newPassword" formControlName="newPassword" minlength="5" required>
                    <mat-error>
                        New password is too short! (5)
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Confirm new password</mat-label>
                    <input matInput type="password" name="confirmedNewPassword" formControlName="confirmedNewPassword" required>
                    <mat-error>
                        Passwords don't match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button type="submit" [disabled]="!formGroup.valid">Change password</button>
            </form>
            
        </div>
    </section>
</div>
