
.main-container {
    background-color: #5AB9EA;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
        vertical-align: middle;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid white;
    width: 80%;
    height: 50%;
}