
.main-container {
    background-color: #5AB9EA;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
        vertical-align: middle;
    }
}