<section>
    <div class="date-container">
        <p class="date">{{ occurrence.date | date: "dd.MM" }}</p>

    </div>
    <div class="info-container">
        <div class="value-container">
            <p class="description">Subject: </p>
            <p class="value">{{ occurrence["lesson"]["subject"]["name"] }}</p>
        </div>
        <div class="value-container">
            <p class="description">Hour: </p>
            <p class="value">{{ occurrence["lesson"]["time"] | hourPrinter }}</p>
        </div>
        <p class="number">{{ pointer + 1 }}</p>
    </div>
</section>

<!-- //Font Cabin 400 (number) -->