@import 'src/variables.scss';

section {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90px;
}

.date-container {
    color: white;
    background-color: #1a2f33;
    font-size: 1.8em;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 0.7em;
    position: absolute;
    right: 2px;
    bottom: 2px;
}

.info-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 200px;
    padding-left: 30px;
}

.value-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

p {
    margin: 0;
}

.description {
    font-size: 0.8em;
    color: gray;
}
