@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.main-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
}

.boxes-container {
    margin: 40px auto;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    height: 80%;
    width: 95%;
    row-gap: 7%;
    column-gap: 3%;
    justify-self: center;
}

.active-block {
    background-color: white;
    transition: transform 0.5s;
    min-width: 100px;
    box-shadow: 0px 0px 42px 14px rgba(170,167,167,0.4);

    &:hover {
        transform: scale(1.03);
        vertical-align: middle;
    }
}

.disabled-block {
    background-color: rgb(234, 234, 234);
    min-width: 100px;
    box-shadow: 0px 0px 42px 14px rgba(170,167,167,0.4);
}

#main-block {
    grid-column: 1 / 3;
    grid-row: 1; 
    position: relative;
    display: flex;
    flex-direction: row;
}

#notes-block {
    grid-column: 3;
    grid-row: 1;
    cursor: pointer;
}

#queues-block {
    grid-column: 3;
    grid-row: 2;
    cursor: pointer;
}

#schedule-block {
    grid-column: 2;
    grid-row: 2;
    cursor: pointer;
}

#class-block {
    grid-column: 1;
    grid-row: 2;
    cursor: pointer;
}

.welcome-text-container {
    position: absolute;
    border: 0.2vw solid #4e4e4e;
    left: 20px;
    bottom: 20px;
}

.user {
    color: #c51e1e;
}

p {
    color: #4e4e4e;
    font-size: 1.5vw;
    margin: 15px 30px;
}

@media only screen and (max-width: 600px) {
    .boxes-container {
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    #main-block {
        display: none;
    }

    #notes-block {
        grid-column: 1;
        grid-row: 1;
    }
    
    #queues-block {
        grid-column: 2;
        grid-row: 2;
    }
    
    #schedule-block {
        grid-column: 1;
        grid-row: 2;
    }
    
    #class-block {
        grid-column: 2;
        grid-row: 1;
    }

    .welcome-text-container {
        display: none;
    }

    p {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 400px) {
    .boxes-container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        row-gap: 5%;
        width: 100%;
    }
    
    .block {
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 4vh;
            text-align: center;
        }
    }
}