<div class="main-container">
    <app-navbar [pathList]="appTitle"></app-navbar>
    <section class="boxes-container">
        <div class="active-block" id="main-block">
            <div class="welcome-text-container">
                <p>Hello there <span class="user">Piotr</span></p>
                <p>{{ currentDate }}<br>{{ currentHour }}</p>
            </div>
            <p>There is no lesson now :(</p>
        </div>
        <div class="active-block" id="exchanges-block" (click)="routeTo('exchanges')">
            <p>Exchanges</p>
        </div>
        <div class="disabled-block" id="notes-block" (click)="routeTo('notes')">
            <p>Notes</p>
        </div>
        <div class="disabled-block" id="queues-block" (click)="routeTo('queues')">
            <p>Your Queues</p>
        </div>
        <div class="active-block" id="schedule-block" (click)="routeTo('schedule')">
            <p>Your Schedule</p>
        </div>
        <div class="disabled-block" id="class-block" (click)="routeTo('class')">
            <p>Your class</p>
        </div>
    </section>
</div>
