.layout-organizer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-exchanges-navbar {
    position: fixed;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}