<div class="layout-organizer">
    <app-navbar [pathList]='navPathList'></app-navbar>
    <app-exchanges-navbar [activeIcon]="exchangeNavIcon"></app-exchanges-navbar>
    <section>
        <app-exchange-request-status-filter [requestsChange]="allRequestsChange" (filteredRequests)="setFilteredRequests($event)"></app-exchange-request-status-filter>
        <div class="requests-container">
            <app-request-tail *ngFor="let request of filteredRequests" [request]="request"></app-request-tail>
        </div>
    </section>
</div>
