<section>
    <div class="titlebar">
        <p class="titlebar-item title">Que</p>
        <div class="titlebar-item icons-container">
            <mat-icon class="icon" fontSet="material-icons-outlined" (click)="logOut()">meeting_room</mat-icon>
            <mat-icon class="icon" id="settings-icon" fontSet="material-icons-outlined" (click)="routeTo('settings')">settings</mat-icon>
        </div>
    </div>
    <div class="navbar">
        <div class="navbar-tail" [class.active-navbar-tail]="tail.verifier === activeNavElement" *ngFor='let tail of list' (click)="routeTo(tail.link)">
            <mat-icon fontSet="material-icons-outlined">{{ tail.icon }}</mat-icon>
            <p>{{ tail.text }}</p>
        </div>
    </div>
</section>