@import "src/variables.scss";


section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.titlebar {
    background-color: white;
    height: 50px;
    width: 100%;
    position: relative;
}

.titlebar-item {
    flex-basis: 100%;
    height: 100%;
}

.title {
    font-family: $logofont;
    font-size: 2.3em;
    margin: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    right: 1%;
    position: absolute;
}

.icon {
    cursor: pointer;

    &:first-child {
        margin-right: 20px;
    }

    &:hover {
        font-family: 'Material Icons';
    }
}

#settings-icon {
    transition: transform 1s;

    &:hover {
        transform: rotate(180deg);
    }
}



.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navbar-tail {
    color: #99ABA0;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(26,47,51);
    white-space: pre-line;
    cursor: pointer;
    
    &:hover {
        background-color: rgb(20,36,39);
        color: white;
        
    }

    p {
        margin: 0;
    }
}

.active-navbar-tail {
    background-color: rgb(16, 30, 32);
    color: white;
    box-shadow: inset 0px -5px 0px 0px $secondcolor;
}
