<div class="layout-organizer">
    <section>
        <div class="login-container">
            <form class="login-form" #form="ngForm" [formGroup]="loginForm" (ngSubmit)="logIn(form)">
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" maxlength="25" name="username" formControlName="username" autocomplete="on">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" maxlength="30" name="password" formControlName="password" autocomplete="on">
                </mat-form-field>

                <button class="login-button" [disabled]="loading" mat-raised-button type="submit">
                    <mat-spinner *ngIf="loading; else login" class="loading" [diameter]="24" ></mat-spinner>
                    <ng-template #login>
                        <p class="login-text">Login</p>
                    </ng-template>

                </button>
            </form>
        </div>
        <div class="logo-container">
            <div class="triangle-left"></div>
            <p class="logo">Que</p>
            <div class="triangle-right"></div>
        </div>
    </section>
    <p class="version">v{{ version }}</p>
</div>

