@import "src/variables.scss";

.layout-organizer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: $navbarheight;
}

.requests-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

.no-request-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

app-request-tail {
    width: 60%;
}

