section {
    width: 100%;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.container {
    border: 1px solid #c51e1e;
    border-top: none;
    border-bottom: none;
    height: 90.5vh;
    overflow: auto;
}

.occurrence-tile:hover {
    background-color: rgb(245, 245, 245);
}