@import "src/variables.scss";

.layout-organizer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

section {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    margin-top: $navbarheight;
}

.container {
    overflow: auto;
}

.occurrence-tile:hover {
    background-color: rgb(245, 245, 245);
}

mat-spinner {
    position: fixed;
    left: 47%;
    top: 50%;
}