.layout-organizer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

section {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.container {
    border: 1px solid #c51e1e;
    border-top: none;
    border-bottom: none;
    overflow: auto;
}

.occurrence-tile:hover {
    background-color: rgb(245, 245, 245);
}