<app-navbar [pathList]="pathList"></app-navbar>
<section>
    <div class="container">
        <mat-selection-list #subject [multiple]="false">
            <mat-list-option *ngFor="let subject of subjects" (click)="setCurrentObject('subject', subject)">
              {{subject.name}}
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="container">
        <mat-selection-list #lesson [multiple]="false">
            <mat-list-option *ngFor="let lesson of lessons" (click)="setCurrentObject('lesson', lesson)">
              {{ lesson.nextDate | date: "EEEE" }}<br>{{ lesson.nextDate | date: "dd/MM/yyyy" }}
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="container">
        <mat-list #users>
            <mat-list-item *ngFor="let occurrence of queue">
              {{ occurrence.username }} {{ occurrence.date }}
            </mat-list-item>
        </mat-list>
    </div>
</section>