<div class="layout-organizer">
    <app-navbar [active]='activeNavElement'></app-navbar>
    <section>
        <ng-container *ngIf="subjects; else loading">
            <div class="container">
                <mat-selection-list #subject [multiple]="false">
                    <mat-list-option *ngFor="let subject of subjects" (click)="setCurrentObject('subject', subject)">
                    {{ subject.name }}
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <app-divider></app-divider>
            <div class="container">
                <mat-selection-list #lesson [multiple]="false">
                    <mat-list-option *ngFor="let lesson of lessons" (click)="setCurrentObject('lesson', lesson)">
                    {{ lesson.nextDate | date: "EEEE" }}<br>{{ lesson.time | hourPrinter}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <app-divider></app-divider>
            <div class="container">
                <mat-list #occurrences>
                    <mat-list-item class="occurrence-tile" *ngFor="let occurrence of queue">
                    {{ occurrence.username }}<br>{{ occurrence.date | date: "dd.MM.yyyy"}}
                    </mat-list-item>
                </mat-list>
            </div>
        </ng-container>
        <ng-template #loading>
            <mat-spinner></mat-spinner>
        </ng-template>
    </section>
    
</div>