<section>
    <div class="request-container">
        <div class="container text-container">
            <div class="positioner">
                <p class="description">{{person}}:</p>
                <h4 class="value" *ngIf="person === 'Sender'; else printReceiver">{{ sender.username }}</h4>
                <ng-template #printReceiver>
                    <h4 class="value">{{ receiver.username }}</h4>
                </ng-template>
            </div>
        </div>
        <div class="container" id="lesson-container">
            <div class="container text-container">
                <p class="description">From:</p>
                <div *ngIf="toLesson && toSubject">
                    <h4 class="value" *ngIf="requestType === 'incoming'; else outgoingFrom">
                        {{ toSubject.name }}, {{ request.toDate | date: "dd.MM.yyyy"}} - {{ toLesson.time | hourPrinter }} 
                    </h4>
                    <ng-template #outgoingFrom>
                        <h4 class="value" *ngIf="fromLesson && fromSubject">
                            {{ fromSubject.name }}, {{ request.fromDate | date: "dd.MM.yyyy"}} - {{ fromLesson.time | hourPrinter }} 
                        </h4>
                    </ng-template>
                </div>
            </div>
            <div class="container text-container">
                <p class="description">To:</p>
                <div *ngIf="fromLesson && fromSubject">
                    <h4 class="value" *ngIf="requestType === 'incoming'; else outgoingTo">
                        {{ fromSubject.name }}, {{ request.fromDate | date: "dd.MM.yyyy"}} - {{ fromLesson.time | hourPrinter }} 
                    </h4>
                    <ng-template #outgoingTo>
                        <h4 class="value" *ngIf="toLesson && toSubject">
                            {{ toSubject.name }}, {{ request.toDate | date: "dd.MM.yyyy"}} - {{ toLesson.time | hourPrinter }} 
                        </h4>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container text-container">
                <p class="description">Resolvement date:</p>
                <div *ngIf="request.resolvementDate; else noAction">
                    <h4 class="value">{{ request.resolvementDate | date: "dd.MM.yyyy"}}</h4>
                </div>
                <ng-template #noAction>
                    <h4 class="value">No action yet</h4>
                </ng-template>
            </div>
            <div class="container text-container">
                <p class="description">Status:</p>
                <h4 class="value" [style.color]="getStatusColor(request.status)">{{ request.status }}</h4>
            </div>
        </div>
        <div class="action-container" *ngIf="requestType === 'incoming' && request.status === 'PENDING'">
            <mat-icon id="accept-icon" class="icon" fontSet="material-icons-outlined" matTooltip="Accept request" [matTooltipPosition]="position" (click)="acceptRequest(request.id)">
                check_circle
            </mat-icon>
            <mat-icon id="decline-icon" class="icon" fontSet="material-icons-outlined" matTooltip="Decline request" [matTooltipPosition]="position" (click)="declineRequest(request.id)">
                cancel
            </mat-icon>
        </div>
    </div>
    
</section>