@import 'src/variables.scss';

* {
    font-family: $mainfont;
}

html, body { height: 100%; }
body { margin: 0; }

.mat-list-text {
    text-align: center;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    text-align: center;
    justify-content: center;
    
}

.basic-snackbar {
    color: white;
}

.error-snackbar {
    color: white;
    background-color: #C13745;
}

.error-snackbar .mat-simple-snackbar-action {
    color: white;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: $secondcolor;
}