<section>
    <mat-icon id="send-request-icon" class="top-icon" matTooltip="Send request" [matTooltipPosition]="position" (click)="routeTo('exchanges')">
        swap_horiz
    </mat-icon>
    <mat-icon id="incoming-requests-icon" fontSet="material-icons-outlined" matTooltip="Incoming requests" [matTooltipPosition]="position" (click)="routeTo('exchanges/incoming')">
        save_alt
    </mat-icon>
    <!-- <mat-icon id="all-requests-icon" fontSet="material-icons-outlined" matTooltip="All exchanges" [matTooltipPosition]="position" (click)="routeTo('exchanges/all')">
        ballot
    </mat-icon> -->
    <mat-icon id="outgoing-requests-icon" class="bottom-icon" fontSet="material-icons-outlined" matTooltip="Outgoing requests" [matTooltipPosition]="position" (click)="routeTo('exchanges/outgoing')">
        publish
    </mat-icon>
</section>